# .coveragerc to control coverage.py
# Coverages settings for uvm-python

[run]
include =
     *src/uvm*
parallel = True
branch = True

[report]
include = 
    *src/uvm*

skip_covered = True
#skip_empty = True

[html]
directory = htmlcov
