
__pycache__
*.log
*.pyc
build
sim_build
results.xml
results_coverage.xml
tags
vimproject
.mypy_cache

*.vcd

uvm-1.2
uvm_ref/
obj_dir
.venv

[xi]run.history

.coverage
htmlcov/
.coveralls.yml
test-cocotb.xml
test-results.xml
.cocotb-results

.eggs
*egg-info*
*.bak
