uvm-1.2
uvm_ref/
uvm_logfile.txt

tags
vimproject

__pycache__
*.log
*.pyc
build
dist
out
sim_build*
.mypy_cache
.pytype

obj_dir
.venv

# Code coverage
.coverage
htmlcov/
.coveralls.yml
test-cocotb.xml
test-results.xml
.cocotb-results

# ghdl files
e~*.o

common_stub

.eggs
*egg-info*
*.bak

# Vim tmp files
*.swp
*~

# Emacs tmp files
\#*\#
\.\#*

# Mergetool tmp files
*.orig
*.bak

# Waveforms
*.vcd
*.fst
*.fst.hier

# Results
results*.xml
results_coverage.xml
combined_results.xml

# Debuggers
.gdb_history

# Pytest
.pytest_cache

# Synopsys VCS
*.tab
sim_build
ucli.key

# Cadence Incisive/Xcelium
*.elog
irun.log
xrun.log
irun.key
xrun.key
irun.history
xrun.history
INCA_libs
xcelium.d
ncelab_*.err
xmelab_*.err
ncsim_*.err
xmsim_*.err
bpad_*.err
.bpad/
.simvision/
waves.shm/

# Mentor Modelsim/Questa
test/examples/**/modelsim.ini
test/examples/**/transcript
*.wlf
vish_stacktrace.vstf

# Aldec Riviera
test/examples/**/library.cfg
test/examples/**/dataset.asdb
test/examples/**/compile

# Tachyon DA CVC
test/examples/**/verilog.log
