#git+git://github.com/cocotb/cocotb@4eaf429c#egg=cocotb
#cocotb==1.5.0
git+https://github.com/cocotb/cocotb@88bca3c9a9515c9ed399ca6dcf569696fded23f7#egg=cocotb
cocotb-bus==0.1.1
cocotb-coverage==1.0.0
regex==2019.11.1
